<% content_for :banner do %>
  <h3 id="part_1_">執行動作</h3>
  <div id="submenu">
    <%= link_to('新增文章',new_admin_topic_path) %>
  </div>
  <%= render :partial =>'admin/common/menu' %>
<% end %>

<% @topics.each do |f| %>
  <%= f.title %> | Action =>
  <%= link_to('Edit', edit_admin_topic_path(f)) %>
  <%= link_to('delete', admin_topic_url(f), :method => 'delete')%><br>
<% end %>
